:root {
	--text-color: #040b2a;
	--accent-color: #86cacf;
	--white-color: #fff;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	margin: 0;
	color: var(--text-color);
	font-family: 'Noto Serif JP', serif;
}

#svelte {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

input,
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
